.coach-detail-container {
    margin-top: 60px;
    margin-right: 100px;
    margin-left: 100px;
    height: 500px;
    border: 1px solid red;
    .coach-item {
        margin-top: 10px;
    }
    .paginate{
        margin-top: 10px;
    }
}