.section-share {
  &.speciality-container {
    background: #f5f5f5;
  }

  height: 300px;
  padding-top: 10px;
  .section-container {
    height: 100%;
    margin: 0 180px;
    .section-header {
      height: 30px;
      margin-bottom: 10px;
      .title {
        color: rgb(17, 13, 5);
      }
      .btn {
        float: right;
        font-size: 15px;

        &:hover {
          color: rgb(241, 237, 237);
          background-color: #918787;
        }
      }
    }
    .section-body {
      border: 1px solid green;
      .customize {
        text-align: center;
        cursor: pointer;
        &.customize-rosemary {
          display: flex !important;
        }

        .customize-title {
          font-weight: 600;
          font-size: 15px;
          padding-top: 10px;
        }
        .bg-img {
       
          &.img-doctor {
    
            height: 120px;
            width: 120px;
            border-radius: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
          }      
          margin: 0 auto;
          height: 150px;
          width: 278px;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          background-color: #eee;
        }
      }

      .slick-slider.slick-initialized {
        height: 100% !important;
      }

      .slick-prev {
        border: 1px solid red !important;
        left: -15px !important;
        z-index: 1000 !important;
        width: 44px !important;
        height: 44px !important;
        background: #f7f0f0 !important;

        &:hover {
          background: #918787 !important;
        }
      }
      .slick-prev:before,
      .slick-next:before {
        font-family: FontAwesom !important;
        color: red !important;
      }

      .slick-disable {
        display: none !important;
      }

      .slick-next {
        right: -15px !important;
        border: 1px solid red !important;
        width: 44px !important;
        height: 44px !important;
        background: #f7f0f0 !important;
        &:hover {
          background: #918787 !important;
        }
      }
    }
  }
}

.introduction {
   padding: 10px;
   .intro{
     font-size: 30px;
     font-weight: 600;
     
   }
   .intro-content{
     padding: 10px;
     text-align: center;
     font-size: 17px;
   }
}

.home-footer {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  text-align: center;
}
